/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
  background-color: #131e27;
     
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;
  font-family: 'Open Sans', sans-serif;

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  margin: 0 100px;
  padding: 10px 0 200px 0;

}

footer {
  background-color: #121212;
  text-align: center;
  padding-top: 20px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.name {
  font-weight: 800;
  font-size: 24px;
  padding: 20px;
}
header .name {
  color: #fff;
  padding-left: 100px;
}
footer .name {
  color: #f9e42e;
}
.peicetext {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 50px 0 50px 0;
}
.getitnow {
  font-weight:800;
  font-size: 14px;
  text-align: center;
}
.getitnow a {
  border-radius: 5px;
  background: #f9e42e;
  color: #033048;
  padding: 10px 40px;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
  padding: 10px 10px;
}
section {
  color: #606161;
  background-color: #f0efef;
  padding: 50px 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 2 / 5;
}
.benefits p {
  font-weight: 300;
  font-size: 13px;
  padding: 10px;
}
ul {
  font-weight: 300;
  font-size: 13px;
  list-style: disc;
  padding: 10px 50px;
}
.oceanquote {
  color: #fff;
  background: url(../images/testimonial_bg.jpg);
  text-align: center;
  margin: 0 100px;
  padding: 50px 0;
}
.oceanquote p {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
}
.oceanquote p span {
  font-weight: 600;
  font-size: 18px;
}
.signupnow {
  background-color: #f9e42e;
  text-align: center;
  padding: 30px;
}
.signupnow a{
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  background: #033048;
  color: #fff;
  padding: 10px 40px;
}
.copyright {
  font-weight: 600;
  font-size: 9px;
  color: #fff;
  padding: 30px;
}
.socialmedia {
  padding: 20px;
}
.socialmedia a{
  padding: 20px;
}
a {
  text-decoration: none;
}

